* {
	box-sizing: border-box;
}

p {
	font-family: Gerogia, Cambria, "Times New Roman", Times, serif;
	font-weight: 400;
	line-height: 1.5;
	font-size: 22px;
}

header {
	height: 120px;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
	max-width: 700px;
}

.flex-container {
	display: flex;
}

.mash-icon {
	flex: 3;
	font-size: 30px;
}

.tut-image {
	flex: 1;
}

.tut {
	flex: 2;
}

.search-bar {
	flex: 3;
	border: solid 1px gray;
	border-radius: 50px;
	height: 38px;
	text-align: center;
	margin: 10px;
}

.signin-btn {
	flex: 2;
	border: solid 1px green;
	border-radius: 50px;
	height: 38px;
	text-align: center;
	margin: 10px;
	font-size: 14px;
	padding: 0 16px;
	color: green;
}

.search-icon {
	border: solid 1px gray;
	border-radius: 50px;
	height: 38px;
}

h2 {
	font-family: Gerogia, Cambria, "Times New Roman", Times, serif;
	font-size: 60px;
	font-weight: 700;
}

@media (max-width: 500px) {
	.search-icon {
  	display: none;
  }
}

@media (min-width: 500px) {
  .search-bar {
  	display: none;
  }

}