* {
	box-sizing: border-box;
}

p {
	font-family: Gerogia, Cambria, "Times New Roman", Times, serif;
	font-weight: 400;
	line-height: 1.5;
	font-size: 22px;
}

header {
	height: 120px;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
	max-width: 700px;
}

.flex-container {
	display: flex;
}

.mash-icon {
	flex: 3;
	font-size: 30px;
}

.tut-image {
	flex: 1;
}

.tut {
	flex: 2;
	font-size: 11px;
	margin: 10px 0;
	padding-top: 8px;
}

.search-bar {
	flex: 3;
	border: solid 1px gray;
	border-radius: 50px;
	height: 38px;
	text-align: center;
	margin: 10px;
	padding-top: 9px;
}

.signin-btn {
	flex: 2;
	border: solid 1px green;
	border-radius: 50px;
	height: 38px;
	text-align: center;
	margin: 10px;
	font-size: 14px;
	padding: 10px 16px;
	color: green;
}

.no-border {
	border: 0;
	text-align: center;
	float: left;
}

/*.search-icon {
	border: solid 1px gray;
	border-radius: 50px;
	height: 38px;
}*/

h2 {
	font-family: Gerogia, Cambria, "Times New Roman", Times, serif;
	font-size: 60px;
	font-weight: 700;
}

h3 {
	font-size: 36px;
	font-family: "Times New Roman", serif;
}

blockquote {
	font-style: italic;
	border-left: 3px solid black;
	margin-left: -23px;
	padding-left: 20px;
	font-size: 22px;
	font-family: "Times New Roman";
}

.not-first {
	padding-top: 30px; 
	margin-top: -30px;
}

a {
	color: black;
	font-weight: bold;
}

.no-display {
	display: none;
}

.icon-box {
	width: 30px;
	height: 30px;
	float: left;
	margin: -5px;
	margin-left: 4px;
}

@media (max-width: 815px) {
  .search-bar {
  	flex: initial;
  	padding: 4px;
  }
  .icon-box {
  	margin: 0;
  }
  input {
  	display: none;
  }
  .wrapper {
  	width: 90%;
  }
  .no-display {
  	display: block;
  }
}